---
import Counter from '@components/Counter.svelte';
---

<html>
  <head>
    <title>Astro with Svelte Example</title>
  </head>
  <body>
    <h1>Astro + Svelte Integration</h1>
    <p>This is an example of integrating Svelte into an Astro project:</p>
    
    <!-- Embed the Svelte Counter component -->
    <Counter  client:only="svelte" />
  </body>
</html>
