---
let count = 0;
function increment() {
  count++;
}


---


<div>
  <p>Count: {count}</p>
  <!-- <button onclick={increment}>Increment</button> -->

  <!-- #FIXME: doesn't work anymore: https://docs.astro.build/en/basics/astro-syntax/#dynamic-attributes -->
  <!-- HTML attributes will be converted to strings, so it is not possible to pass functions and objects to HTML elements. For example, you can’t assign an event handler to an HTML element in an Astro component: -->

  <button id="increment">Increment</button>
</div>

<script>
  function handleClick () {
    console.log("button clicked!");
  }
  document.getElementById("increment").addEventListener("click", handleClick);
</script>