---
import Counter from '@components/Counter.jsx'; // Your React component
---

<html>
  <head>
    <title>React Page</title>
  </head>
  <body>
    <h1>This is a page using React</h1>
    <p>Here’s a React component:</p>
    <Counter client:load />
  </body>
</html>
